#food-request-form, #myTabContent {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.request-time {
    margin-right: 1rem;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
}

.loading-gif {
  text-align: center;
}

body {
  background: url("https://www.rochester.edu/largepics/friday26aug16/8-17-16_Chang_Ye_1_RushRhees_night.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}