#App {
  background-color: rgba(230, 230, 230, 0.85);
  border-radius: 5px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#navBar {
  margin-bottom: 1rem;
  border-radius: 5px;
}

#deliveryForm {
  padding-bottom: 1rem;
  overflow: hidden;
}

body {
  background: url("https://www.rochester.edu/largepics/friday26aug16/8-17-16_Chang_Ye_1_RushRhees_night.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
